// Google fonts
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "roboto-con";
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "roboto-con";
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  font-family: "roboto";
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  &:hover {
    text-decoration: none;
  }
}

a,
span {
  display: inline-block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto-con";
  font-weight: 700;
  letter-spacing: 3px;
}

// Media Queries
@mixin breakpoint-up($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

// Button
// Primary Button
@mixin btn_primary {
  color: #fff;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 8px;
  background: #cdb30c;
  border-radius: 5px;
  transition: 0.3s;
  border-bottom: 2px solid #fff;

  &:hover {
    background: #fff;
    color: #232429;
    border-bottom-color: #232429;
  }

  @include breakpoint-up(768px) {
    padding: 12px 15px;
  }
}

.riad_wrapper {
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #232429;
  content: "";
  opacity: 0.3;
  z-index: -1;
}

.img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}

.col-md {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @include breakpoint-up(768px) {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

@include breakpoint-up(992px) {
  .px-6 {
    padding: 0 60px;
  }
}

.pb-6 {
  padding-bottom: 60px;
}

.owl-carousel {
  .owl-dots {
    text-align: center;
    margin-top: 10px;

    .owl-dot.active {
      background: #b3b3b3;
    }

    .owl-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #cdb30c;
      margin: 5px;
      position: relative;

      &::after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        content: "";
        border: 1px solid #cdb30c;
      }
    }
  }
}

.sticky {
  background-color: #fff;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
}
