@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "roboto-con";
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "roboto-con";
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  font-family: "roboto";
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto-con";
  font-weight: 700;
  letter-spacing: 3px;
}

.riad_wrapper {
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #232429;
  content: "";
  opacity: 0.3;
  z-index: -1;
}

@media screen and (min-width: 992px) {
  .px-6 {
    padding: 0 60px;
  }
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 10px;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #b3b3b3;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #cdb30c;
  margin: 5px;
  position: relative;
}

.owl-carousel .owl-dots .owl-dot::after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  content: "";
  border: 1px solid #cdb30c;
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#header .header_top .header_top_left {
  padding: 10px 0;
  text-align: center;
}

@media screen and (min-width: 576px) {
  #header .header_top .header_top_left {
    text-align: left;
  }
}

#header .header_top .header_top_left span {
  color: rgba(255, 255, 255, 0.6);
}

#header .header_top .header_top_left span a {
  color: #fff;
}

#header .header_top .header_top_right {
  padding: 10px 0;
}

#header .header_top .header_top_right ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 576px) {
  #header .header_top .header_top_right ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#header .header_top .header_top_right li:not(:last-child) {
  padding-right: 20px;
}

#header .header_top .header_top_right li a {
  color: #fff;
}

#header .header_main {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.1);
}

#header .header_main .navbar-brand {
  color: #fff;
  font-weight: 500;
}

#header .header_main .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header .header_main .navbar-nav {
  text-align: right;
}

#header .header_main .navbar-nav li a {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

@media screen and (min-width: 991px) {
  #header .header_main .navbar-nav li:not(:last-child) {
    padding-right: 30px;
  }
}

.banner_area {
  position: relative;
  z-index: 1;
}

.banner_area .banner_slider .owl-dots {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner_area .slider_item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 60px;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .banner_area .slider_item {
    height: 100vh;
  }
}

.banner_area .banner_content {
  margin-top: 250px;
  color: #fff;
}

.banner_area .banner_content .sub_title {
  letter-spacing: 5px;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner_area .banner_content .banner_title {
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .banner_area .banner_content .banner_title {
    font-size: 55px;
    line-height: 65px;
  }
}

.banner_area .banner_content .btn-group {
  margin-top: 10px;
}

.banner_area .banner_content .btn-group a:first-child {
  color: #fff;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 8px;
  background: #cdb30c;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
}

.banner_area .banner_content .btn-group a:first-child:hover {
  background: #fff;
  color: #232429;
  border-bottom-color: #232429;
}

@media screen and (min-width: 768px) {
  .banner_area .banner_content .btn-group a:first-child {
    padding: 12px 15px;
  }
}

.banner_area .banner_content .btn-group a:nth-child(2) {
  color: #fff;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 8px;
  background: #cdb30c;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  background-color: #232429;
}

.banner_area .banner_content .btn-group a:nth-child(2):hover {
  background: #fff;
  color: #232429;
  border-bottom-color: #232429;
}

@media screen and (min-width: 768px) {
  .banner_area .banner_content .btn-group a:nth-child(2) {
    padding: 12px 15px;
  }
}

.banner_area .banner_content .btn-group a:not(:last-child) {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .banner_area .banner_content .btn-group {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .banner_area .banner_content {
    margin-top: 126px;
  }
}

.service_area {
  padding: 30px 0;
  background-repeat: repeat;
  background-attachment: fixed;
}

.service_area .section_content {
  color: #fff;
}

.service_area .section_content .secTitle {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 20px;
}

.service_area .section_content p {
  line-height: 29px;
  color: #999;
}

.service_area .single_service {
  margin: 10px 0;
}

.service_area .card {
  padding: 30px;
  background: #1a1a1a;
  position: relative;
  min-height: 200px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service_area .card .serv_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
}

.service_area .card .serv_icon i {
  color: #cdb30c;
  font-size: 50px;
}

.service_area .card .serv_title {
  color: #fff;
  text-transform: uppercase;
}

.service_area .card a {
  position: absolute;
  bottom: -20px;
  right: 60px;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1a1a1a;
  border: 1px solid #cdb30c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_area .card a i {
  font-size: 20px;
  color: #fff;
}

.service_area .single_service:hover .card {
  background: #cdb30c;
}

.service_area .single_service:hover .serv_icon i {
  color: #1a1a1a;
}

.service_area .single_service:hover a {
  opacity: 1;
  right: 30px;
}

@media screen and (min-width: 992px) {
  .service_area {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1320px) {
  .service_area {
    padding: 100px 0;
  }
}

.about_us .about_img {
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 50vh;
}

@media screen and (min-width: 768px) {
  .about_us .about_img {
    height: 100vh;
  }
}

.about_us .section_content {
  padding: 20px 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .about_us .section_content {
    padding-top: 100px;
  }
}

@media screen and (min-width: 992px) {
  .about_us .section_content {
    padding-left: 50px;
  }
}

.about_us .section_content .subTitle {
  color: #cdb30c;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "roboto";
  font-size: 13px;
  margin-bottom: 20px;
}

.about_us .section_content .secTitle {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 20px;
}

.about_us .section_content p {
  line-height: 29px;
  color: #999;
}

.about_us .section_content .year_establish {
  background: #cdb30c;
  padding: 10px 20px;
}

.about_us .section_content .year_establish .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.about_us .section_content .year_establish .icon i {
  color: #999;
  font-size: 20px;
}

.about_us .section_content .year_establish .year span {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}

.about_us .section_content .year_establish .experience span {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

@media screen and (min-width: 1140px) {
  .about_us .section_content .year_establish {
    padding: 20px;
    width: 70%;
    position: absolute;
    left: -90px;
    top: 430px;
  }
}

.projects_counter {
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  padding: 30px 0;
  position: relative;
  z-index: 1;
}

.projects_counter .overlay {
  opacity: 0.8 !important;
}

.projects_counter .counter_box {
  margin: 10px 0;
}

.projects_counter .counter_box .icon {
  width: 70px;
  height: 70px;
  background: #cdb30c;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.projects_counter .counter_box .icon i {
  color: #fff;
  font-size: 48px;
}

.projects_counter .counter_box .counter_number strong,
.projects_counter .counter_box .counter_number span {
  color: #fff;
  font-weight: 700;
}

.projects_counter .counter_box .counter_number strong {
  font-size: 32px;
}

.projects_counter .counter_box .counter_number span {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .projects_counter {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1320px) {
  .projects_counter {
    padding: 100px 0;
  }
}

.faq_skills {
  background: #f4f5f9;
  padding: 30px 0;
}

.faq_skills .faq_ques .subTitle {
  color: #cdb30c;
  font-family: "roboto";
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 20px;
}

.faq_skills .faq_ques .secTitle {
  font-size: 34px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 45px;
}

.faq_skills .faq_accordion {
  margin: 40px 0 20px;
}

.faq_skills .faq_accordion .accordion-item {
  border: none;
  margin: 10px 0;
}

.faq_skills .faq_accordion .accordion-button {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.faq_skills .faq_accordion .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq_skills .faq_accordion .accordion-button:not(.collapsed) {
  background: #cdb30c;
  color: #fff;
}

.faq_skills .faq_accordion .accordion-header {
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 27px;
}

.faq_skills .faq_accordion .accordion-body {
  padding: 16px 0;
  background: #f4f5f9;
}

.faq_skills .faq_accordion .accordion-body li {
  margin-bottom: 10px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.faq_skills .skilled_area .secTitle {
  line-height: 45px;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.8);
}

.faq_skills .skilled_area .skil_bar {
  margin: 30px 0;
  position: relative;
}

.faq_skills .skilled_area .skil_bar h3 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.faq_skills .skilled_area .skil_bar .progress {
  height: 5px;
}

.faq_skills .skilled_area .skil_bar .progress-bar {
  background: #cdb30c;
}

.faq_skills .skilled_area .skil_bar span {
  position: absolute;
  top: -5px;
  color: #cdb30c;
  font-size: 16px;
  font-family: "roboto-con";
  font-weight: 700;
  right: 25%;
}

@media screen and (min-width: 992px) {
  .faq_skills {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1340px) {
  .faq_skills {
    padding: 100px 0;
  }
}

.team_area {
  padding: 30px 0;
}

.team_area .section_content .subTitle {
  color: #cdb30c;
  font-weight: 500;
  font-family: "roboto";
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.team_area .section_content .secTitle {
  font-size: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

.team_area .all_members a {
  color: #cdb30c;
  text-transform: uppercase;
  font-weight: 500;
  padding: 3px 10px;
  border: 2px solid #cdb30c;
  font-size: 12px;
}

.team_area .all_members a i {
  color: #cdb30c;
  font-size: 12px;
  padding-left: 5px;
}

.team_area .all_members a:hover {
  border-color: rgba(0, 0, 0, 0.8);
}

.team_area .team_slider {
  margin-top: 50px;
}

.team_area .team_member {
  position: relative;
  overflow: hidden;
}

.team_area .team_member .team_img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 350px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
}

.team_area .team_member .team_img::before, .team_area .team_member .team_img::after {
  position: absolute;
  z-index: 1;
  content: "";
  background: #cdb30c;
  width: 100%;
  height: 50%;
  left: 0;
  right: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
}

.team_area .team_member .team_img::before {
  top: -50%;
}

.team_area .team_member .team_img::after {
  bottom: -50%;
}

.team_area .team_member .team_details {
  text-align: center;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 2;
}

.team_area .team_member .team_details .title {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.team_area .team_member .team_details .designation {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.team_area .team_member .team_details .social_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.team_area .team_member .team_details .social_link ul li {
  padding: 0 15px;
}

.team_area .team_member .team_details .social_link ul a {
  color: #fff;
}

.team_area .team_member:hover .team_img::before {
  top: 0;
  opacity: 0.6;
}

.team_area .team_member:hover .team_img::after {
  bottom: 0;
  opacity: 0.6;
}

.team_area .team_member:hover .team_details {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .team_area {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1340px) {
  .team_area {
    padding: 100px 0;
  }
}

.recent_portfolio {
  position: relative;
  background: #f4f5f9;
  padding: 30px 0;
  z-index: 0;
}

.recent_portfolio .overlay {
  opacity: 1;
  bottom: unset;
  height: 40%;
}

.recent_portfolio .section_content .subTitle {
  color: #cdb30c;
  font-weight: 500;
  font-family: "roboto";
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.recent_portfolio .section_content .secTitle {
  font-size: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.recent_portfolio .all_projects a {
  color: #cdb30c;
  text-transform: uppercase;
  font-weight: 500;
  padding: 3px 10px;
  border: 2px solid #cdb30c;
  font-size: 12px;
}

.recent_portfolio .all_projects a i {
  color: #cdb30c;
  font-size: 12px;
  padding-left: 5px;
}

.recent_portfolio .all_projects a:hover {
  border-color: rgba(0, 0, 0, 0.8);
}

.recent_portfolio .recent_projects {
  margin-top: 30px;
}

.recent_portfolio .single_project {
  margin: 12px 0;
}

.recent_portfolio .single_project .project_banner {
  height: 340px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.recent_portfolio .single_project .project_banner::before, .recent_portfolio .single_project .project_banner::after {
  position: absolute;
  z-index: -1;
  content: "";
  background: #232429;
  width: 100%;
  height: 50%;
  left: 0;
  right: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
}

.recent_portfolio .single_project .project_banner::before {
  top: -50%;
}

.recent_portfolio .single_project .project_banner::after {
  bottom: -50%;
}

.recent_portfolio .single_project .project_banner .project_details {
  padding: 30px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.recent_portfolio .single_project .project_banner .project_details .title {
  color: #cdb30c;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "roboto";
}

.recent_portfolio .single_project .project_banner .project_details h2 a {
  font-family: "roboto-con";
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

.recent_portfolio .single_project .project_banner .project_details .view_details {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cdb30c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 32px;
  right: 20px;
}

.recent_portfolio .single_project .project_banner .project_details .view_details i {
  color: #fff;
}

.recent_portfolio .single_project:hover .project_banner::before {
  top: 0;
  opacity: 0.9;
}

.recent_portfolio .single_project:hover .project_banner::after {
  bottom: 0;
  opacity: 0.9;
}

.recent_portfolio .single_project:hover .project_details {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .recent_portfolio {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1340px) {
  .recent_portfolio {
    padding: 100px 0;
  }
}

.testimonial {
  background: #f4f5f9;
  position: relative;
  z-index: 0;
  padding: 30px 0;
}

.testimonial .section_content .subTitle {
  color: #cdb30c;
  font-weight: 500;
  font-family: "roboto";
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.testimonial .section_content .secTitle {
  font-size: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

.testimonial .testimonial_wrapper {
  margin-top: 35px;
}

.testimonial .testimonial_slide {
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  padding: 20px;
}

.testimonial .testimonial_slide p {
  color: #999;
  line-height: 29px;
  margin-bottom: 20px;
}

.testimonial .testimonial_slide .client img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 10px;
}

.testimonial .testimonial_slide .client p {
  margin-bottom: 0;
}

.testimonial .testimonial_slide .client p i {
  color: #cdb30c;
  font-size: 12px;
}

.testimonial .testimonial_slide .client .name {
  font-weight: 500;
  font-size: 18px;
  color: #232429;
}

.testimonial .testimonial_slide .client .designation {
  color: #cdb30c;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (min-width: 992px) {
  .testimonial {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1340px) {
  .testimonial {
    padding: 100px 0;
  }
}

.our_blog {
  padding: 30px 0;
}

.our_blog .section_content .subTitle {
  color: #cdb30c;
  font-weight: 500;
  font-family: "roboto";
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.our_blog .section_content .secTitle {
  font-size: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 992px) {
  .our_blog {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1340px) {
  .our_blog {
    padding: 100px 0;
  }
}
/*# sourceMappingURL=style.css.map */